import .main {
  display: flex;
  background-color: var(color-background-light-blue);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.listGroup {

  display: flex;
  flex-direction: column;
  width: 100%;
}

.extraList {
  display: flex;
  justify-content: flex-end;
  margin-top: 110px;
}


/* sortIcon */
.sortingIcon {
  display: flex;
  gap: 2px;
  align-items: flex-end;
  text-decoration: none;
  cursor: pointer;
  flex-direction: column;
  width: 40px;
  justify-content: center;
}

.sorting {
  flex-direction: column-reverse;
}

.sortingIcon div {
  height: 1.5px;
  background-color: var(--color-dark-blue);
  border-radius: 20%;
}

.firstLine {

  width: 80%;
}

.secondLine {

  width: 60%;
}

.thirdLine {

  width: 40%;
}

.forthLine {

  width: 20%;
}

.lista {
  font-size: 32px;
  list-style-type: none;
  padding: 0%;
  height: 79vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  margin: 30px;
}

.lista button {
  background-color: aliceblue;
  cursor: pointer;
  width: 190px;
  height: 220px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--color-border-gray);
  display: flex;
  justify-content: center;
  align-items: center;


}


.digimonInList {
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  text-align: center;
  font-size: 22px;


}

.digimonInList:hover {
  font-size: 25px;

}

.digimonImg {
  mix-blend-mode: multiply;
}





.lista::-webkit-scrollbar {
  width: 1vh;

}

.lista::-webkit-scrollbar-track {
  background: #ACACAC;
  border-radius: 20px;
}

/* Handle */
.lista::-webkit-scrollbar-thumb {
  background: #5E5E5E;
  border-radius: 20px;
}



/* right side */
.mainRight {
  width: 75vw;
  height: 95vh;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  align-items: center;
}

.digimonLogoGroup {
  display: flex;
  align-items: center;
  margin-left: 30px;

}

.digimonLogoGroup p {
  font-family: var(--font-general);
  font-size: 15px;
  font-weight: var(--font-regular);
  color: var(--color-dark-blue);
}

.digimonLogo {
  width: 60px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
}



.navBarCentral {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 30px;
}

.navBarCentral button {
  text-decoration: none;
  background-color: var(--color-background-light-blue);
  display: flex;
  cursor: pointer;
  border-style: solid;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  justify-content: center;
  border-color: var(--color-dark-blue);
  border-width: 1px;
  align-items: center;

}

.searchBarGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchBar {
  border: solid;
  border-radius: 25px;
  width: 30vw;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 2px;
  border-color: var(--color-border-light-gray);
  background: none;
  padding-left: 2vw;
}

.inputSearchBar {
  width: 100%;

}

.searchbutton {
  margin-right: 4px;
  position: absolute;
}

.searchIcon {
  width: 15px;
}

.sortingbutton {
  display: flex;
}

.filterIcon {
  width: 15px;
}


.digidexGroup {
  display: flex;
  align-items: center;

}

.digidexLogo {
  margin-left: 30px;
  width: 40px;
  height: 40px;
}

.digidexLogoText {
  height: 35px;
  width: 110px;
}

.mainDetailsGroup {
  width: 90%;
  display: flex;
  padding: 30px 20px 0px 20px;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  height: 70vh;
  overflow-y: scroll;
  justify-content: space-between;

}

.mainDetailsGroup::-webkit-scrollbar {
  width: 1vh;
  position: absolute;

}

.mainDetailsGroup::-webkit-scrollbar-track {
  background: #ACACAC;
  border-radius: 20px;
}

/* Handle */
.mainDetailsGroup::-webkit-scrollbar-thumb {
  background: #5E5E5E;
  border-radius: 20px;
}


.priorDigimons {
  font-family: var(--font-general);
  margin-top: 170px;
  height: 100%;
  text-align: center;

}

.priorDigimons h3 {
  font-family: var(--fonts-family);
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  font-size: 25px;
}

.priorDigimons button {
  background-color: white;
  border: 0;
  cursor: pointer;
  opacity: 0.5;
}

.priorDigimons button:hover {
  opacity: 1.0;
}

.priorDigimons ul {
  list-style-type: none;
  padding: 0;

}

.priorDigimons ul p {
  text-align: center;
  font-family: var(--fonts-family);
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  font-size: 20px;
}


.digimonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mainDetailsGroup h2 {
  font-family: var(--fonts-family);
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  font-size: 35px;
}



.mainDetailsGroup h4 {
  font-family: var(--fonts-family);
  font-weight: var(--font-bolder);
  color: var(--color-dark-blue);
  font-size: 25px;
  text-align: center;
}

.mainDetailsGroup p {
  font-family: var(--fonts-family);
  font-weight: var(--font-regular);
  color: var(--color-dark-blue);
  text-align: center;
}

.digimonDetailsGroup {
  display: flex;
  align-items: center;
  gap: 50px;
}

.digimonDetailsGroup p {
  font-size: 20px;
}

.arrowDetails {
  margin-top: 4vh;
}

.about {
  margin-left: 10vw;
  margin-right: 10vw;

}

.about p {
  font-size: 15px;
  line-height: 1.5;
}

.skills {
  margin-top: 4vh;
}

.skills p {
  font-size: 15px;
  line-height: 1.5;
}

.footerDiv {
  display: flex;
  gap: 200px;
  bottom: 2px;
  align-items: center;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  backdrop-filter: blur(10px);
}

.footerDiv p {
  font-family: var(--fonts-family);

}

.footerCredits {
  display: flex;
  align-items: center;
  font-family: var(--font-general);
  font-size: 15px;
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  gap: 5vw;
}

.socialGroup {
  display: flex;
  gap: 2vw;
  align-items: center;
}