import .main {
  display: flex;
  background-color: var(color-background-light-blue);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* clears the ‘X’ from Internet Explorer */
.main input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.main input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
.main input[type="search"]::-webkit-search-decoration,
.main input[type="search"]::-webkit-search-cancel-button,
.main input[type="search"]::-webkit-search-results-button,
.main input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.listGroup {

  display: flex;
  flex-direction: column;
  width: 100%;
}

.extraList {
  display: flex;
  justify-content: flex-end;
  margin-top: 110px;
}


/* sortIcon */
.sortingIcon {
  display: flex;
  gap: 2px;
  align-items: flex-end;
  text-decoration: none;
  cursor: pointer;
  flex-direction: column;
  width: 40px;
  justify-content: center;
}

.filterBackgroundGroup {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
}

.filterBackground1 {

  position: absolute;
  size: 50vw;
  z-index: 20;
  left: -25px;
  bottom: -50%;
  animation-name: filterBackground1;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  pointer-events: none;
  transition: all 0.5s ease;
}

@keyframes filterBackground1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);

  }
}

.filterBackground2 {
  position: absolute;
  size: 50vw;
  z-index: 20;
  left: 80px;
  bottom: -45%;
  animation-name: filterBackground2;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  pointer-events: none;
  opacity: 1;

  transition: all 0.8s ease;
}

@keyframes filterBackground2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);

  }
}

.imageBackgroundOpening {

  left: -150px;
  bottom: -85%;
  opacity: 0;


}


.imageBackgroundClosing {

  left: -150px;
  bottom: -85%;
  transition: all 0.8s ease;
  opacity: 0;
}



.sorting {
  flex-direction: column-reverse;
  animation-name: sorting;
  animation-duration: 1s;
}


.sortingIcon div {
  height: 1.5px;
  background-color: var(--color-dark-blue);
  border-radius: 20%;
}

.firstLine {

  width: 80%;
}

.secondLine {

  width: 60%;
}

.thirdLine {

  width: 40%;
}

.forthLine {

  width: 20%;
}

.filterSectionBackground {
  position: absolute;
  z-index: 14;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0;
  left: 0;


}

.backgroundStarting {
  animation-name: filterSectionBackgroundAnimation;
  animation-duration: 2s;
  animation-timing-function: ease;

}

@keyframes filterSectionBackgroundAnimation {
  0% {
    backdrop-filter: blur(0px);
  }

  100% {
    backdrop-filter: blur(8px);
  }
}

.backgroundEnding {
  animation-name: filterSectionBackgroundEndAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease;

}

@keyframes filterSectionBackgroundEndAnimation {
  0% {
    backdrop-filter: blur(8px);
  }

  100% {
    backdrop-filter: blur(0px);
  }
}



.backgroundClosing {
  animation-name: filterSectionBackgroundClosingAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease;

}

@keyframes filterSectionBackgroundClosingAnimation {
  0% {
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
    right: 0;
    top: 0;

  }

  30% {
    width: 200vw;
    height: 200vh;
    border-radius: 100%;
    right: -60%;
    top: -60%;

  }

  100% {


    width: 1vw;
    height: 1vh;
    border-radius: 100%;
  }
}

.filterinfoComponentGroup {
  display: flex;
  align-items: center;
}

.filterSection {
  background-color: var(--color-background-light-blue);
  position: absolute;
  z-index: 15;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.05));

  overflow-x: hidden;
  overflow-y: hidden;





}

.filterSectionFront {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.filterSectionFrontBlank {
  position: absolute;
  animation-name: filterSectionFrontBlankAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  width: 100vw;
  height: 100vh;

  background-color: var(--color-background-light-blue);
  z-index: 16;


}

@keyframes filterSectionFrontBlankAnimation {
  0% {
    background-color: #adc1d900;
  }

  20% {
    background-color: #adc1d900;

  }

  95% {
    background-color: var(--color-background-light-blue);
  }
}

.backgroundOpening {
  animation-name: openFilterSectionAnimation;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  width: 100vw;
  height: 100vh;


}

@keyframes openFilterSectionAnimation {

  0% {
    width: 1vw;
    height: 1vh;
    border-radius: 100%;
  }

  30% {
    width: 200vw;
    height: 200vh;
    border-radius: 100%;
    right: -60%;
    top: -60%;

  }

  80% {
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
    right: 0;
    top: 0;
  }
}

.backgroundOn {
  width: 100vw;
  height: 100vh;

}


.checkedFilterOff {
  position: absolute;
  top: 50px;
  width: 0px;
  height: 0px;
  display: none;
}

.checkedFilterOn {

  position: absolute;
  animation-name: checkedFilterAnimation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;


}

@keyframes checkedFilterAnimation {
  0% {

    opacity: 0;
    top: -100px;


  }

  10% {
    opacity: 1;
  }

  35% {
    opacity: 1;
    top: 50px;

  }




  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 50px;

  }





}

.filterButton {
  position: absolute;
  right: 6vw;
  top: 6vh;
  width: 40px;
  height: 40px;
  background-color: var(--color-main-orange);
  border-radius: 100%;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}

.filterButton:hover {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

.sortTitle {
  font-size: 9rem;
  transform: rotate(90deg);
  margin: 0px;
  color: var(--color-text-digimon-light-blue);
  position: absolute;
  right: 1vw;
}

.filterSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

}

.filterLevelInfoGroup {
  display: flex;
}

.filterAtributeGroup,
.filterLevelGroup {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;

}

.filterLevelTitle,
.filterAtributeTitle {
  text-align: center;
  color: var(--color-text-digimon-light-blue);

}

.filterInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: space-between;
  z-index: 5;
}

.filterInfo button {
  border-style: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filterInfo button:hover {
  width: 80px;
  transition: all 0.3s ease;
}

.filterInfo button:hover div {
  background-color: var(--color-main-blue);
  transition: all 0.3s ease;
}

.filterInfo button:hover h3 {
  color: var(--color-main-blue);
}

.filterInfo button p {
  color: var(--color-main-blue);
  font-size: 30px;
  margin: 0;
  font-weight: 900;
}

.filterActiveLevel div {
  width: 50px;
  height: 50px;
  background-color: #ffe7c9;
  border-color: var(--color-main-orange);
  transition: all 0.3s ease;
}

.filterOffAttribute path {

  fill: var(--color-main-blue);
  transition: all 0.3s ease;

}

.filterOffAttribute circle {
  fill: var(--color-main-blue)
}

.filterActiveAttribute path {
  fill: var(--color-main-orange);
  transition: all 0.3s ease;

}

.filterActiveAttribute div {
  background-color: var(--color-main-orange);
}


.filterActiveAttribute circle {
  fill: var(--color-main-orange);
}

.filterIconContainer {

  border-style: solid;
  border-width: 1px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--color-border-light-gray);

}

.filterLevelInfoGroup h3,
.filterAtributeGroup h3 {
  font-size: 1.1rem;
  color: var(--color-text-digimon-light-blue)
}


.filterLevelInfoGroup svg {
  height: 24px;
  width: 24px;
}

.filterAtributeInfoGroup {
  display: flex;
}

.filterAtributeInfoGroup svg {
  width: 40px;
  height: 40px;
}

.filterPlatformUnknownIcon {
  width: 40px;
  height: 40px;
  font-size: 25px;
  background-color: var(--color-main-blue);
  color: var(--color-background-light-blue);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.listBackground {
  width: 100vw;


}


.lista {


  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 32px;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  height: 79vh;
  width: 80vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  padding: 30px 10vw 70px 10vw;
  margin: 0;
  /* margin-bottom: 82px; */
  background: none;
  position: fixed;
  z-index: 10;
  background-image: url(/_next/static/media/background-Group.099dda5b.png);
  background-position: center;
}

.lista li:nth-child(odd) .digimonInList {
  grid-row: 2/3;
  grid-column: 1/2;
  transform: rotate(-90deg);
  width: 215px;
  transition: all 0.3s ease;
}

#digimonIdTest {
  grid-row: 2/3;
  grid-column: 2/3;
  transform: rotate(0deg);
  width: 185px;
}

.lista li:nth-child(even) .digimonInList {
  grid-row: 2/3;
  grid-column: 2/3;
  transition: all 0.3s ease;

}

.lista button {
  background-color: var(--color-background-light-blue);
  cursor: pointer;
  width: 190px;
  height: 220px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--color-border-gray);
  overflow: hidden;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  transition: all 0.3s ease;
}

.lista button:hover {
  width: 230px;
  height: 240px;
  transition: all 0.3s ease;

}

.lista button:hover .digimonInList {
  grid-row: 3/3;
  grid-column: 2/3;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.lista button:hover .digimonImg {
  width: 150px;
  height: 150px;
  grid-row: 1 / 3;
  transition: all 0.5s ease;
}


.digimonInList {
  font-weight: var(--font-bold);
  color: var(--color-text-digimon-light-blue);
  text-align: center;
  mix-blend-mode: darken;
  margin: 0;
  width: auto;
  font-size: 3rem;
  z-index: 2;
}


.digimonImg {
  mix-blend-mode: multiply;
  grid-row: 2/3;
  grid-column: 2/3;
  z-index: 1;
  transition: all 0.3s ease;

}


.lista::-webkit-scrollbar {
  display: none;

}

.lista::-webkit-scrollbar-track {
  background: #ACACAC;
  border-radius: 20px;
}

/* Handle */
.lista::-webkit-scrollbar-thumb {
  background: #5E5E5E;
  border-radius: 20px;
}



/* right side */
.mainRight {
  width: 75vw;
  height: 95vh;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  align-items: center;
  position: relative;
  z-index: 15;
  box-shadow: rgba(159, 183, 211, 0.1) 0px 10px 45px 0px;
}

.digimonLogoGroup {
  display: flex;
  align-items: center;
  margin-left: 30px;

}

.digimonLogoGroup p {
  font-family: var(--font-general);
  font-size: 15px;
  font-weight: var(--font-regular);
  color: var(--color-dark-blue);
}

.digimonLogo {
  width: 60px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
}



.navBarCentral {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 30px;
}

.searchbutton,
.sortingbutton,
.filterButtonDefault {
  text-decoration: none;
  background-color: var(--color-background-light-blue);
  display: flex;
  cursor: pointer;
  border-style: solid;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  justify-content: center;
  border-color: var(--color-dark-blue);
  border-width: 1px;
  align-items: center;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 100 100" fill="none"><circle cx="2.5" cy="2.5" r="2.5" fill="%23003D68"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
}

.searchbutton:focus,
.sortingbutton:focus,
.filterButtonDefault:focus {
  animation-name: activeButton;
  animation-duration: 1s;
}

@keyframes activeButton {
  0% {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 100 100" fill="none"><circle cx="2.5" cy="2.5" r="2.5" fill="%23003D68"/></svg>');

  }

  50% {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none"><circle cx="22.5" cy="22.5" r="22.5" fill="%23003D68"/></svg>');
    background-position: center;
  }

  100% {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 100 100" fill="none"><circle cx="2.5" cy="2.5" r="2.5" fill="%23003D68"/></svg>');

  }

}



.searchBarGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchBar {
  border: solid;
  border-radius: 25px;
  width: 30vw;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 2px;
  border-color: var(--color-border-light-gray);
  background: none;
  padding-left: 2vw;
  padding-right: 40px;
}

.inputSearchBar {
  width: 100%;

}

.searchbutton {
  margin-right: 4px;
  position: absolute;
}

.searchIcon {
  width: 15px;
}

.sortingbutton {
  display: flex;


}

.filterIcon {
  width: 15px;
}


.digidexGroup {
  display: flex;
  align-items: center;

}

.digidexLogo {
  margin-left: 30px;
  width: 40px;
  height: 40px;
}

.digidexLogoText {
  height: 35px;
  width: 110px;
}

.mainDetailsGroup {
  width: 90%;
  display: flex;
  padding: 30px 20px 0px 20px;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  height: 70vh;
  overflow-y: scroll;
  justify-content: space-between;

}

.mainDetailsGroup::-webkit-scrollbar {
  width: 1vh;
  position: absolute;

}

.mainDetailsGroup::-webkit-scrollbar-track {
  background: #ACACAC;
  border-radius: 20px;
}

/* Handle */
.mainDetailsGroup::-webkit-scrollbar-thumb {
  background: #5E5E5E;
  border-radius: 20px;
}


.priorDigimons {
  font-family: var(--font-general);
  margin-top: 170px;
  height: 100%;
  text-align: center;

}

.priorDigimons h3 {
  font-family: var(--fonts-family);
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  font-size: 25px;
}

.priorDigimons button {
  background-color: white;
  border: 0;
  cursor: pointer;
  opacity: 0.5;
}

.priorDigimons button:hover {
  opacity: 1.0;
}

.priorDigimons ul {
  list-style-type: none;
  padding: 0;

}

.priorDigimons ul p {
  text-align: center;
  font-family: var(--fonts-family);
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  font-size: 20px;
}


.digimonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mainDetailsGroup h2 {
  font-family: var(--fonts-family);
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  font-size: 35px;
}



.mainDetailsGroup h4 {
  font-family: var(--fonts-family);
  font-weight: var(--font-bolder);
  color: var(--color-dark-blue);
  font-size: 25px;
  text-align: center;
}

.mainDetailsGroup p {
  font-family: var(--fonts-family);
  font-weight: var(--font-regular);
  color: var(--color-dark-blue);
  text-align: center;
}

.digimonDetailsGroup {
  display: flex;
  align-items: center;
  gap: 50px;
}

.digimonDetailsGroup p {
  font-size: 20px;
}

.arrowDetails {
  margin-top: 4vh;
}

.about {
  margin-left: 10vw;
  margin-right: 10vw;

}

.about p {
  font-size: 15px;
  line-height: 1.5;
}

.skills {
  margin-top: 4vh;
}

.skills p {
  font-size: 15px;
  line-height: 1.5;
}

.footerDiv {
  display: flex;
  bottom: 0;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--color-background-light-blue);
  justify-content: space-around;
  position: fixed;
  z-index: 10;
  box-shadow: rgba(159 183 211 / 10%) 0px -5px 45px 0px;
}

.footerDiv p {
  font-family: var(--fonts-family);

}

.footerCredits {
  display: flex;
  align-items: center;
  font-family: var(--font-general);
  font-size: 15px;
  font-weight: var(--font-bold);
  color: var(--color-dark-blue);
  gap: 5vw;
}

.socialGroup {
  display: flex;
  gap: 2vw;
  align-items: center;
}