.priorFormsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding: 5vh 0px;
    justify-content: space-between;

}


.priorFormsBackground {
    position: fixed;

}

.priorFormsBackground img {

    width: 400px;
    height: 400px;
    position: fixed;
    mix-blend-mode: color-dodge;
    z-index: 1;
}

.priorFormsCloseButton {
    border: none;
    background-color: var(--color-dark-blue);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 45px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.priorFormsCloseButton:hover .closePriorFormsSvg {

    transform: rotate(180deg);
    transition: all 0.5s ease;
}

.priorEvolutionImgShape {
    top: 40px;
    transform: rotate(45deg);
    right: 60px;
}

.priorEvolutionImgComplete {
    bottom: -100px;
    left: 205px;
    transform: rotate(-45deg);
}


.priorFormsSection h3 {
    font-family: var(--fonts-family);
    font-weight: var(--font-bold);
    color: var(--color-dark-blue);
    font-size: 7rem;
    text-transform: uppercase;
    margin: 0px;
    max-width: 70vw;
    z-index: 2;
}

.priorFormsGroup {
    display: flex;
    overflow-x: scroll;
    width: 100vw;
    justify-content: flex-start;
    gap: 2rem;
    list-style: none;
    height: 360px;





    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.priorFormsGroup::-webkit-scrollbar {
    display: none;
}

.priorFormsGroup li {

    display: flex;
    align-items: center;
}


.priorFormsGroup button {
    border: none;
    display: flex;
    font-size: 3rem;
    background: none;
    align-items: center;
    cursor: pointer;
}

.priorFormsGroup button:hover .digimonImage {
    transform: translateY(-20px);
    transition: all 0.5s ease;
    filter: grayscale(0);

}

.priorFormsGroup button:hover p {
    font-size: 3.5rem;
    transition: all 0.5s ease;
}

.priorFormsGroup p {
    font-size: 3rem;
    writing-mode: tb;
    transform: rotate(180deg);
    transition: all 0.5s ease;
}

.digimonImage {
    filter: grayscale(0.5);
    width: 300px;
    height: auto;
    mix-blend-mode: multiply;
    transition: all 0.5s ease;
}